//color classes
.bg__black {
  background-color: $color__black;
}
.bg__gray-darkest {
  background-color: $color__gray;
}
.bg__gray-darker {
  background-color: $color__gray;
}
.bg__gray-dark {
  background-color: $color__gray;
}
.bg__gray {
  background-color: $color__gray;
}
.bg__gray-lightish {
  background-color: $color__gray;
}
.bg__gray-light {
  background-color: $color__gray-light;
}
.bg__gray-lighter {
  background-color: $color__gray;
}
.bg__gray-lightest {
  background-color: $color__gray;
}
.bg__white {
  background-color: $color__white;
}

.bg__purple {
  background-color: $color__purple;
}
.bg__purple-dark {
  background-color: $color__purple-dark;
}
.bg__blue {
  background-color: $color__purple;
}
.bg__pink {
  background-color: $color__purple;
}
.bg__yellow {
  background-color: $color__purple;
}

.color__black {
  color: $color__black;
}
.color__gray {
  color: $color__gray;
}
.color__gray {
  color: $color__gray;
}
.color__gray {
  color: $color__gray;
}
.color__gray {
  color: $color__gray;
}
.color__gray {
  color: $color__gray;
}
.color__gray-light {
  color: $color__gray-light;
}
.color__gray {
  color: $color__gray;
}
.color__gray {
  color: $color__gray;
}
.color__white {
  color: $color__white;
}

.color__purple {
  color: $color__purple;
}
.color__purple-dark {
  color: $color__purple-dark;
}
.color__purple {
  color: $color__purple;
}
.color__purple {
  color: $color__purple;
}
.color__purple {
  color: $color__purple;
}

// Gradients
// ========================================================

// vertical mostly black with lighter center
@mixin gradient-black {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    #000000;
}
.gradient__black {
  @include gradient-black;
}

// vertical purple used in cards
@mixin gradient-purple {
  background: linear-gradient(
    0deg,
    rgba(26, 14, 45, 1) 0%,
    rgba(40, 26, 59, 1) 28%,
    rgba(40, 26, 59, 1) 52%,
    rgba(32, 16, 53, 1) 100%
  );
}
.gradient__purple {
  @include gradient-purple;
}

// vertical puple-slate used in session rollovers
@mixin gradient-purple-slate {
  background: linear-gradient(180deg, #2b272e 0%, #323035 51.04%, #2b272e 100%);
}
.gradient__purple-slate {
  @include gradient-purple-slate;
}

// left purple right orange corner, no background
@mixin gradient-purple-orange-corners {
  background: linear-gradient(
      306.61deg,
      rgba(158, 69, 147, 0) 71.61%,
      #9e4593 167.25%
    ),
    linear-gradient(
      247.83deg,
      rgba(234, 12, 159, 0.6) -7.26%,
      rgba(253, 216, 15, 0) 16.65%
    );
}
.gradient__purple-orange-corners {
  @include gradient-purple-orange-corners;
}

// left purple right orange corner, black background
@mixin gradient-orange-orange-corners {
  background: linear-gradient(
      306.61deg,
      rgba(158, 69, 147, 0) 71.61%,
      #9e4593 167.25%
    ),
    linear-gradient(
      247.83deg,
      rgba(234, 12, 159, 0.6) -7.26%,
      rgba(253, 216, 15, 0) 16.65%
    ),
    #000000;
}
.gradient__orange-orange-corners {
  @include gradient-orange-orange-corners;
}

// left purple right blue corner, dark background
@mixin gradient-purple-blue-corners-dark {
  background: linear-gradient(
      256.59deg,
      rgba(158, 69, 147, 0) 81.26%,
      #9e4593 139.5%
    ),
    linear-gradient(
      243.87deg,
      rgba(12, 165, 234, 0.6) -13.36%,
      rgba(47, 93, 171, 0.12) 31.04%
    ),
    linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 15.56%,
      rgba(0, 0, 0, 0.72) 92.4%
    );
}
.gradient-purple-blue-corners-dark {
  @include gradient-purple-blue-corners-dark;
}

// left orange right purple corner, dark background
@mixin gradient-orange-purple-dark {
  background: linear-gradient(
      306.61deg,
      rgba(158, 69, 147, 0) 71.61%,
      #9e4593 167.25%
    ),
    linear-gradient(
      247.83deg,
      rgba(234, 12, 159, 0.6) -7.26%,
      rgba(253, 216, 15, 0) 16.65%
    ),
    #000000;
}
.gradient__orange-purple-dark {
  @include gradient-orange-purple-dark;
}

// left purple right orange corner, dark background
@mixin gradient-purple-orange-corners-dark {
  background: linear-gradient(
      306.61deg,
      rgba(158, 69, 147, 0) 71.61%,
      #9e4593 167.25%
    ),
    linear-gradient(
      247.83deg,
      rgba(234, 12, 159, 0.6) -7.26%,
      rgba(253, 216, 15, 0) 16.65%
    ),
    #000000;
}
.gradient__purple-orange-corners-dark {
  @include gradient-purple-orange-corners-dark;
}

// gradient from left to right purple, blue
// used in 'opportunities' background section
@mixin gradient-purple-blue {
  background: linear-gradient(
      256.59deg,
      rgba(158, 69, 147, 0) 81.26%,
      rgba(158, 69, 147, 0.5) 139.5%
    ),
    linear-gradient(
      243.87deg,
      rgba(12, 165, 234, 0.5) -13.36%,
      rgba(47, 93, 171, 0.12) 31.04%
    );
}
.gradient__purple-blue {
  @include gradient-purple-blue;
}

@mixin gradient-purple-blue-slant {
  background: linear-gradient(
    45deg,
    rgba(44, 18, 70, 1) 0%,
    rgba(25, 10, 58, 1) 28%,
    rgba(25, 10, 58, 1) 52%,
    rgba(23, 35, 87, 1) 100%
  );
}
.gradient__purple-blue-slant {
  @include gradient-purple-blue-slant;
}
