.event {
	border-top: 3px solid $color__blue;
	border-image: linear-gradient(90deg, $color__blurple, $color__blue) 3;
	border-width: 0;
	border-top-width: 3px;
	padding-top: rem(22);
	padding-bottom: rem(30);
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows:  auto auto;
	text-decoration: none;
	color: $color__white;
	@include bp-1024 {
		._big & {
			grid-template-columns: auto auto auto;
			grid-template-rows: auto;
		}
	}

	&__date {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		min-height: rem(160);
		.feature__event & {
			min-height: rem(120);
		}
		@include bp-1024 {
			._big & {
				grid-column: 1 / 2;
				grid-row: 1;
				min-width: rem(126);
			}
		}
	}
		&__month {
			font-size: rem(20);
			font-weight: 600;
			line-height: rem(28);
			letter-spacing: 0.01em;
		}
		&__day {
			font-size: rem(110);
			line-height: 1;
			letter-spacing: -0.04em;
		}

	&__photo {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
		min-height: rem(160);
		text-align: right;
		.feature__event & {
			min-height: rem(120);
		}
		.event__link {
			display: none;
			._big & {
				display: none;
				@include bp-768 {
					display: block;
				}
			}
		}
		@include bp-1024 {
			._big & {
				grid-column: 3 / 4;
				grid-row: 1;
			}
			._wide & {
				grid-row: 1 / 3;
			}
		}
	}
		&__link {
			color: $color__yellow;
			text-decoration: underline;
			line-height: rem(28);
			.event:hover &,
			.event:focus &,
			.event:active & {
				color: $color__white;
			}
			._big & {
				display: none;
			}
		}
		&__image {
			padding-top: rem(45);
			padding-bottom: rem(7);
			max-width: rem(77);
			._big & {
				@include bp-768 {
					padding-top: rem(17);
				}
			}
			._wide & {
				max-width: rem(260);
				padding-left: rem(35);
			}
			.feature__event & {
				padding-top: rem(5);
				max-width: rem(184);
			}
			#search-event-list & {
				display: none;
			}
		}
	
	&__info {
		grid-column: 1 / 3;
		grid-row: 2 / 3;
		@include bp-768 {
			display: flex;
			flex-flow: column nowrap;
			justify-content: space-between;
			._big & {
				display: block;
			}
			.event__link {
				._big & {
					display: none;
				}
			}
		}
		@include bp-1024 {
			._big & {
				grid-column: 2 / 3;
				grid-row: 1;
				padding: rem(37) rem(20) 0 rem(75);
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				justify-content: flex-start;
			}
			._wide & {
				grid-column: 1 / 2;
			}
		}
	}
		&__title {
			font-size: rem(23);
			font-weight: 700;
			line-height: 1.17;
			@include bp-1024 {
				._big & {
					font-size: rem(36);
					flex: 0 1 100%;
				}
			}
			@include bp-1280 {
				._big & {
					font-size: rem(48);
					line-height: 1;
					padding-top: rem(3);
				}
			}
			@include bp-1440 {
				._big & {
					font-size: rem(58);
				}
			}
		}
		&__time, &__host-name {
			font-family: $font__secondary;
			font-size: rem(16);
			line-height: 1.2;
			letter-spacing: -0.01em;
			color: $color__gray-lightest;
		}
		&__time {
			@include bp-1024 {
				flex: 0 1 auto;
				//height: rem(40);
				margin-right: rem(30);
			}
		}
		&__hosts {
			> * + * {
				margin: 0;
			}
			@include bp-604 {
				display: flex;
				justify-content: flex-start;
				> * + * {
					margin: 0 0 0 rem(45);
				}
			}
		}
		&__host {
			display: flex;
			align-items: center;
			padding-top: rem(7);
			padding-bottom: rem(23);
			@include bp-1024 {
				flex: 0 1 auto;
			}
			&._company {
				padding-top: rem(24);
				text-decoration: none;
				&:hover, &:active, &:focus {
					.event__host-name {
						color: $color__yellow;
					}
				}
			}
		}
			
			&__host-photo {
				border-radius: 50%;
				width: rem(40);// !important;
				height: rem(40); // !important;
				._company & {
					//important because WP adds inline styles of auto width and height
					width: rem(40) !important;
					height: rem(40) !important;
				}
			}
			&__host-info {
				padding-left: rem(14);
			}
				&__host-name {
					margin-bottom: 0;
					padding-left: rem(14);
					transition: color .25s ease-in-out;
					.event__host-info & {
						padding-left: 0;
					}	
				}
		&__link {
			font-weight: 600;
			font-size: rem(18);
		}
}

.events {
	&__featured {
		list-style: none;
	}
	&__list {
		list-style: none;
		padding-top: rem(30);
		@include bp-768 {
			display: flex;
			flex-flow: row wrap;
			margin-right: rem(-20);
			margin-left: rem(-20);
			>li {
				flex: 0 1 calc(50% - 40px);
				margin-right: rem(20);
				margin-left: rem(20);
				
			}
		}
		@include bp-1024 {
			>li {
				flex: 0 1 calc(33.333% - 40px);
				&._wide {
					flex: 0 1 calc(66.666% - 40px);
					
				}
			}
		}
		@include bp-1280 {
			>li {
				flex: 0 1 calc(25% - 40px);
				&._wide {
					flex: 0 1 calc(50% - 40px);
					
				}
			}
		}
	}
	&__noresults {
		padding-top: rem(40);
		padding-bottom: rem(30);
	}
}

// Events List
// ==================================================
.events-list {
	@include bp-1024 {
		padding-top: rem(80);
		padding-left: rem(40);
		padding-right: rem(40);
		display: grid;
		grid-template-columns: 1fr rem(256);
		grid-gap: rem(80);
	}
	@include bp-1280 {
		grid-gap: rem(146);
	}
	.events-list__events {
		padding-bottom: rem(32);
		@include bp-1024 {
		}
	}
	.events-list__nav {
		display: none;
		position: relative;
		padding-bottom: rem(24);
		@include bp-1024 {
			display: block;
			width: rem(256);
			h3 {
				font-family: $font__secondary;
				color: $color__gray-lightest;
				font-size: rem(13);
				margin-bottom: rem(28);
			}
			h4 {
				color: $color__white;
				font-size: rem(14);
				margin-bottom: rem(8);
			}
			ul {
				list-style-type: none;
				padding: 0;
				margin: 0 0 rem(32);
			}
			li {
				border-bottom: 1px solid $color__gray-dark;
			}
			a {
				font-family: $font__secondary;
				color: $color__gray-lightest;
				font-size: rem(13);
				display: block;
				padding: rem(12) 0;
				&:hover,
				&:focus {
					color: $color__yellow;
				}
			}
			.events-list__nav__wrapper {
				position: -webkit-sticky;
				position: sticky;
				top: 20px;
			}
		}
	}
	.events-list__event {
		position: relative;
		&:nth-child(1) .events-list__event__card {
			@include bp-1024 {
				border: none;
				padding-top: rem(0);
				margin-top: rem(0);
			}
		}
		@include bp-1024 {
			padding-left: rem(120);
		}
		.events-list__event__card {
			display: grid;
			grid-template-columns: rem(32) 1fr;
			grid-gap: rem(36);
			border-top: 3px solid $color__purple;
			border-image: linear-gradient(90deg, $color__purple, $color__pink) 3;
			padding-top: rem(25);
			margin-top: rem(35);
		}
		.events-list__event__datetime {
			font-size: rem(12);
			line-height: rem(15);
			white-space: nowrap;
		}
		.events-list__event__main {
			@include bp-1024 {
				position: relative;
				margin-right: rem(160);
			}
		}
		.events-list__event__title {
			font-size: rem(15);
			line-height: rem(23);
		}
		.events-list__event__text {
			font-size: rem(12);
			line-height: rem(21);
		}
	}
	.events-list__date {
		display: block;
		padding: rem(32) 0 0;
		.event__month {
			font-size: rem(14.24);
			color: $color__white;
		}
		.event__day {
			font-size: rem(78.31);
		}
		@include bp-1024 {
			position: absolute;
			left: 0;
			top: rem(-78);
			padding: rem(32) 0 0 0;
		}
	}
	.events-list__host {
	}
	.events-list__host-leadin {
		font-family: $font__primary;
		color: $color__yellow;
		font-size: rem(12);
		text-transform: uppercase;
		font-weight: 600;
		line-height: 1;
		padding-right: rem(12);
	}
	.events-list__host-photo {
		width: rem(20);
		height: rem(20);
	}
	.events-list__host-name {
		padding-left: rem(12);
		font-family: $font__primary;
		color: $color__white;
		font-size: rem(12);
		text-transform: uppercase;
		font-weight: 600;
		line-height: 1;
		padding-right: rem(18);
	}
}

// Add to calendar
// ==================================================

// wrapper for placement
.events-list__event__add {
	@include bp-1024 {
		position: absolute;
		z-index: 100;
		left: 100%;
		margin-left: rem(16);
		top: 0;
		width: rem(144);
	}
}

// component
.add-to-calendar {
}

// label for the checkbox, main text
label.add-to-calendar-checkbox {
	color: $color__yellow;
	font-weight: 600;
	font-size: rem(15);
	line-height: rem(23);
	display: block;
	padding-bottom: rem(4);
	cursor: pointer;
}

// checkbox input
input.add-to-calendar-checkbox {
	position: absolute;
	opacity: 0;
}

// each link
.add-to-calendar a {
	color: $color__white;
	background: $color__black;
	padding: rem(10) rem(16) rem(10) rem(46);
	background-repeat: no-repeat;
	background-position: rem(16) 50%;
	background-size: rem(16) rem(16);
	&:hover,
	&:focus {
		color: $color__yellow;
	}
	&:first-of-type {
		border-top: rem(10) solid $color__black;
	}
	&:last-of-type {
		border-bottom: rem(10) solid $color__black;
	}
}

// NOTE: I'm including background-image urls for both static and wp
//       uncomment static for prod
.add-to-calendar a.icon-google {
	background-image: url("/wp-content/themes/nab-amplify/assets/images/calendar-icon-google.svg");
	background-image: url("/assets/images/calendar-icon-google.svg");
}
.add-to-calendar a.icon-yahoo {
	background-image: url("/wp-content/themes/nab-amplify/assets/images/calendar-icon-yahoo.svg");
	background-image: url("/assets/images/calendar-icon-yahoo.svg");
}
.add-to-calendar a.icon-ical {
	background-image: url("/wp-content/themes/nab-amplify/assets/images/calendar-icon-apple.svg");
	background-image: url("/assets/images/calendar-icon-apple.svg");
}
.add-to-calendar a.icon-outlook {
	background-image: url("/wp-content/themes/nab-amplify/assets/images/calendar-icon-outlook.svg");
	background-image: url("/assets/images/calendar-icon-outlook.svg");
}

//
.add-to-calendar-checkbox ~ a {
	display: none;
}

input.add-to-calendar-checkbox:checked ~ a {
	display: block;
}
