.intro {
	position: relative;
	.amp-bookmark {
		position: absolute;
		right: rem(10);
		top: rem(10);
		z-index: 2;
		color: $color__pink; //#e5018b!important;
		font-size: rem(23);
	}
	&._centered {
	  text-align: center;
	}
	a {
	  font-weight: 600;
	}
	&._search {
	  h1 {
		margin-top: rem(35);
	  }
	}
	&__backlink {
		margin-bottom: rem(15);
	}
	&__title {
		margin-bottom: rem(30);

	}
	&__copy {
	  max-width: rem(740);
	  ._centered & {
		  margin-left: auto;
		  margin-right: auto;
	  }
	}
	&__meta {
		
	}
	&__reactions {
		margin: 0 0 rem(30);
		padding-left: rem(50);
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.post-action-author {
			margin-right: rem(20);

			.no-image-avtar {
				color: $color__black;
				width: 100%;
				height:100%;
			}
		}
		.reaction-wrapper {
			padding: rem(20) 0;
			.reaction-inner { 
				justify-content: flex-start;
			}
		}
	}
	

  }