.intro {
	position: relative;
	@include bp-1024 {
		article[id^="post"] & {
			display: flex;
			justify-content: space-between;
		}
	}
	.amp-bookmark {
		position: absolute;
		top: rem(-30);
		left: rem(10);
		z-index: 2;
		color: $color__pink; //#e5018b!important;
		font-size: rem(23);
		@include bp-768 {
			left: auto;
			right: rem(10);
			top: rem(10);	
		}
	}
	&._centered {
	  text-align: center;
	}
	a {
	  font-weight: 600;
	}
	&._search {
	  h1 {
		margin-top: rem(35);
	  }
	}
	&__backlink {
		margin-bottom: rem(15);
	}
	&__title {
		margin-bottom: rem(30);
		@include bp-768 {
			padding-right: rem(30);
		}
	}
	&__copy {
	  max-width: rem(740);
	  ._centered & {
		  margin-left: auto;
		  margin-right: auto;
	  }
	}
	&__meta {
		
	}
	&__reactions {
		margin: 0 0 rem(30);
		padding-left: rem(50);
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		@include bp-1024 {
			margin: rem(30) 0 0;
		}
		.post-action-author {
			margin-right: rem(20);

			.no-image-avtar {
				color: $color__black;
				width: 100%;
				height:100%;
			}
		}
		.reaction-wrapper {
			padding: rem(20) 0;
			.reaction-inner { 
				justify-content: flex-start;
			}
		}
	}
	

  }

  .intro-feature {
  position: relative;
  background: $color__gray-darker;
  @include bp-1024 {
    background: $color__gray-dark;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: rem(180);
      background: $color__gray-darker;
      border-bottom: rem(4) solid $color__purple; //fallback
      border-image: linear-gradient(90deg, $color__purple, $color__blue) 4;
    }
  }
  &__media {
    position: relative;
    img {
      width: 100%;
      height: auto;
      vertical-align: baseline;
    }
  }
}