.nab-modal {
	display: none;
	&.nab-modal-active {
		display: block;
	}
	.nab-modal-inner {
		position: fixed;
		z-index: 99;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($color__black, 0.4);
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.modal-content {
		background-color: $color__gray-darker;
		border-top-color: $color__purple;
		border-top-width: rem(4);
		border-top-style: solid;
		border-image: linear-gradient(90deg, $color__pink, $color__purple) 4;
		border-width: 0;
		border-top-width: rem(4);
		width: 90%;
		max-width: rem(800);
		position: relative;
		max-height: 80vh;
		padding: 0;
		p, li {
			font-size: rem(18);
		}
	}
	&._loading {
		.modal-content {
			filter: brightness(50%);
			&:after {
				content: '';
				background-image: url('assets/images/spinner-2x.svg');
				display: inline-block;
				width: rem(80);
				height: rem(80);
				position: fixed;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				filter: brightness(200%);
			}
		}
	}
	.modal-content-wrap {
		height: 100%;
		overflow: auto;
		padding: rem(30);
		max-height: 78vh;
	}
	.nab-modal-close.fa {
		color: $color__white;
		font-size: rem(16);
		border-radius: 50%;
		position: absolute;
		right: rem(-15);
		top: rem(-17);
		background-image: linear-gradient(90deg, $color__purple, $color__pink);
		width: rem(30);
		height: rem(30);
		line-height: rem(27);
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}
	.nab-modal-close:not(.fa) {
		color: $color__white !important;
		text-decoration: underline;
		cursor: pointer;
		font-size: rem(22);
		display: block;
		text-align: right;
		max-width: max-content;
		margin-left: auto;
	}

}