.register {
	padding: 0 0 rem(40);
	.button {
		opacity: 1;
		transition: opacity .25s ease-in-out;
		&[disabled] {
			opacity:.7;
		}
	}
}

.register__calendar {
	position: relative;
	top: rem(15);
	display: inline-block;
	height: rem(33);
	opacity: 0;
	transition: opacity .25s ease-in-out;
	&._display {
		opacity: 1;
	}
}