.session {
	&__content {
		background: $color__gray-dark;
	}
	
	&__pre {
		.involveme_embed {
			border-top: 4px solid $color__purple;
			border-image: linear-gradient(90deg, $color__pink, $color__purple) 4;
			border-width: 0;
			border-top-width: 4px;
			background-color: $color__black;
		}
	}
	&__post {
		
	}
	&__prevideo {
		max-width: rem(800);
	}
	&__live {
	}
	&__desc {
		padding-top: rem(40);
		padding-bottom: rem(60);
	}
}