.whitepaper{

	&__download {
		padding: rem(40) rem(20) rem(45) rem(35);
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		@include bp-1024 {
			padding: rem(50) rem(85) rem(60);
			flex-flow: row nowrap;
		}
	}

		&__image {
			flex: 0 1 auto;
			max-width: rem(400);
			margin-bottom: rem(20);
			@include bp-1024 {
				margin-right: rem(40);
				margin-bottom: 0;
			}
			img {
				max-width: rem(200);
				height: auto;
			}
		}
		&__info {
			flex: 0 1 auto;
		}

	&__ext {
		text-transform: uppercase;
	}

	&__link {
		font-size: rem(22);
		&:hover, &:focus, &:active {
			color: $color__yellow;
		}
	}
}