// Scss variables (colours etc...)

$color__black: #000000;
$color__gray-dark: #333333;
$color__gray: #404040;
$color__gray--medium: #737373;
$color__gray-light: #c4c4c4;
$color__gray-medium-light: #9e9e9e;
$color__white: #ffffff;

$color__pink: #f4b2ec;
$color__blue: #2f5dab;
$color__purple-slate: #817a89;
$color__pruple-slate-dark: #2d2930;
$color__purple-light: #9e4593;
$color__purple: #2a173c;
$color__purple-dark: #030621;
