// Filter

.filter-row {
  display: grid;
  grid-gap: rem(30);
  @include bp-768 {
    grid-template-columns: 1fr 2.5fr;
    grid-gap: 7.5%;
  }
}

.filter-column-sticky {
  @include bp-768 {
    position: sticky;
    top: rem(16);
    max-height: calc(100vh - 2rem);
    overflow: auto;
  }
}

.filter-title {
  @include primary-black-24-24;
  text-transform: uppercase;
  margin-bottom: rem(24);
  span {
    text-transform: none;
    @include primary-medium-16-24;
    line-height: 1;
  }
}
.filter-settings-wrap {
  display: grid;
  grid-gap: rem(32);
}

.filter-item-dates {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: rem(8);
}
.filter-date {
  border: none;
  color: $color__white;
  padding: rem(16) rem(32);
  position: relative;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: rem(6);
  @include primary-black-12-12-20;
  line-height: 1.6;
  background: linear-gradient(
      256.59deg,
      rgba(158, 69, 147, 0) 81.26%,
      #9e4593 139.5%
    ),
    linear-gradient(
      243.87deg,
      rgba(12, 165, 234, 0.6) -13.36%,
      rgba(47, 93, 171, 0.12) 31.04%
    );
  cursor: pointer;
  transition: all 0.3s;
  @include bp-960 {
    @include primary-black-16-16-20;
    line-height: 1.6;
  }
  &:hover,
  &:focus {
    opacity: 0.85;
  }
  &.active {
    background: $color__purple-light;
  }
}

.filter-item-dropdowns {
  display: grid;
  grid-gap: rem(6);
  .filter-dropdown {
    border-radius: rem(6);
    background: $color__white;
    overflow: hidden;
    position: relative;
    &::after {
      content: "";
      height: 0.5rem;
      width: 0.5rem;
      display: block;
      position: absolute;
      right: 1rem;
      top: calc(50% - 0.25rem);
      border-bottom: 2px solid;
      border-right: 2px solid;
      transform: rotate(45deg);
      pointer-events: none;
    }
    select {
      position: relative;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 100%;
      max-width: 100%;
      padding: rem(12);
      @include primary-medium-16-24;
      line-height: 1;
      border: none;
      &:focus {
        border: none;
        outline: none;
      }
    }
  }
}

.filter-result-wrap {
  display: grid;
  grid-gap: rem(18);
}

.filter-result-box {
  @include gradient-purple;
  padding: rem(30);
  @include bp-604 {
    padding: rem(30) rem(55);
  }
  a {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .filter-result-box-datetime {
    color: $color__white;
    @include primary-black-12-12-20;
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: rem(14);
    a {
      text-decoration: none;
      color: $color__purple-lighter;
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
  .filter-result-box-title {
    margin-bottom: rem(12);
    a {
      text-decoration: none;
      color: $color__white;
      @include primary-medium-36-36;
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
  .filter-result-box-category {
    display: block;
    margin-bottom: rem(22);
    a {
      text-decoration: none;
      color: $color__white;
      @include primary-medium-15-15;
      line-height: 1.4;
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
  .filter-result-box-description {
    margin-bottom: rem(20);
    p {
      @include primary-medium-18-25;
      color: $color__gray-light;
    }
  }
  .speakers-list {
    margin-bottom: rem(20);
    i {
      color: $color__white;
    }
    a {
      color: $color__purple-lighter;
      text-decoration: none;
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
  .filter-result-box-cta {
    display: block;
    text-decoration: none;
    color: $color__purple-lighter;
    @include primary-black-14-14-20;
    text-transform: uppercase;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
  > p {
    display: none;
  }
}

.filter-pagination {
  text-align: center;
  margin-top: rem(32);
}
.page-numbers {
  @include primary-black-18-18-20;
  color: $color__purple-lighter;
  text-decoration: none;
  display: inline-block;
  padding: 0 rem(6);
  text-transform: uppercase;
  &:hover,
  &:focus {
    color: $color__purple-lighter;
    opacity: 0.7;
  }
  &.current {
    color: $color__white;
    pointer-events: none;
  }

  &.next {
    &::after {
      content: "→";
      transition: all 0.25s ease-in-out;
      display: inline-block;
      margin: 0 0 rem(2) rem(4);
      font-size: 1em;
    }
    &:focus,
    &:hover {
      text-decoration: none;
      &::after {
        transform: translateX(rem(4));
      }
    }
  }
  &.prev {
    &::before {
      content: "←";
      transition: all 0.25s ease-in-out;
      display: inline-block;
      margin: 0 rem(4) rem(2) 0;
      font-size: 1em;
    }
    &:focus,
    &:hover {
      text-decoration: none;
      &::before {
        transform: translateX(rem(-4));
      }
    }
  }
}
