// Forms

.email-signup {
  border-bottom: rem(2.5) solid $color__white;
  display: grid;
  grid-template-columns: 1fr auto;
}
.email-signup__input {
  appearance: none;
  background: none;
  border: none;
  @include primary-black-12-12-20;
  padding: rem(12) rem(12) rem(12) 0;
  color: $color__white;
  &::placeholder {
    color: $color__gray--medium;
  }
}

.email-signup__submit {
}
