// Cols (columns)

.cols {
  display: grid;
  grid-gap: rem(42);
  @include bp-768 {
    grid-gap: rem(102);
    grid-template-columns: 1.35fr 1fr;
    &._rev {
      grid-template-columns: 1fr 1.35fr;
    }
  }
}
