.embeds {
}

.embed-wrapper {
  position: relative;
  background: $color__black;
  iframe {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: none;
  }
  &._video {
    padding-top: 56.25%;
    p {
      margin-bottom: 0;
    }
  }
  &._chat {
    min-height: rem(336);
  }
}

.embed-group {
  border-top: 4px solid $color__purple;
  border-image: linear-gradient(90deg, $color__purple, $color__purple) 4;
  border-width: 0;
  border-top-width: 4px;
  @include bp-1024 {
    display: flex;
    align-items: center;
    background-color: $color__black;
  }
  &._video_and_chat {
    @include bp-1024 {
      .embed-group__item._video {
        flex: 2;
      }
      .embed-wrapper._chat {
        width: rem(336);
      }
    }
  }
  &._video {
    @include bp-1024 {
      .embed-wrapper._video {
        width: 100%;
      }
    }
  }
  &._post {
    background-color: $color__black;
    @include bp-1024 {
      display: block;
    }
  }
}
