.footer {
  background-color: $color__dark;
  padding: rem(30) 0;
  margin-top: rem(60);
  @include bp-768 {
    padding: rem(30) 0;
    margin-top: rem(120);
  }
}

.footer__container {
  padding: 0 rem(32);
  @include bp-604 {
    padding: 0 rem(64);
  }
}

.footer__main {
  display: block;
  @include bp-604 {
    padding-bottom: rem(10);
    margin-bottom: rem(30);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.footer__logo {
  margin: 0 auto;
  max-width: rem(144);
  @include bp-604 {
    margin: 0;
  }
}
.footer__logo-link {
}
.footer__logo {
}

.footer__social {
  margin: rem(20) 0 rem(30);
  @include bp-604 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

.social-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  li {
    padding: 0 rem(16);
    @include bp-604 {
      padding: 0 0 0 rem(32);
    }
    i {
      font-size: rem(20);
      color: $color__white;
    }
  }
}

.footer__social-hashtag {
  display: block;
  text-align: center;
  margin-top: rem(20);
  color: $color__white;
  @include primary-bold-12-12;
  @include bp-604 {
    margin: 0;
    order: -1;
    @include primary-bold-16-16;
  }
  a {
    color: $color__white;
    font-family: "Open Sans Bold", sans-serif;
    font-weight: bold;
  }
}

.footer__secondary {
  display: flex;
  align-items: center;
  @include bp-768 {
    display: block;
  }
}

.footer__nav {
  @include bp-768 {
    text-align: center;
  }
}

.footer__menu {
  list-style-type: none;
  @include bp-768 {
    text-align: center;
  }
  .footer__menu__item, .menu-item {
    & + .footer__menu__item,
    & + .menu-item {
      margin: rem(16) 0 0 0;
    }
    @include bp-768 {
      display: inline-block;
      & + .footer__menu__item,
      & + .menu-item {
        margin: 0 0 0 rem(32);
      }
    }
    .footer__menu__link, & > a {
      @include primary-black-12-12-20;
      white-space: nowrap;
      text-transform: uppercase;
      text-decoration: none;
      color: $color__white;
    }
  }
}

.footer__copyright {
  text-align: center;
  font-family: $font__primary;
  font-size: rem(13);
  color: $color__white;
  display: block;
  padding-left: rem(32);
  @include bp-768 {
    margin-top: rem(20.5);
    padding-left: 0;
  }
}
