// SECTIONS
// =================================================

// generic section
.section {
  padding-top: rem(48);
  @include bp-768 {
    padding-top: rem(60);
    &._toplarge {
      padding-top: rem(120);
    }
  }
  &._bottom {
    padding-bottom: rem(48);
    @include bp-768 {
      padding-bottom: rem(60);
    }
  }
  &._bottom-only {
    padding-top: 0;
    padding-bottom: rem(48);
    @include bp-768 {
      padding-top: 0;
      padding-bottom: rem(60);
    }
  }
}

.section-heading {
  padding-bottom: rem(30);
  text-align: center;
  &._centered {
    margin-left: auto;
    margin-right: auto;
    max-width: rem(380);
  }
  h1,
  h2,
  h3 {
    text-transform: uppercase;
    padding-bottom: 0 !important;
  }
  @include bp-768 {
    margin-bottom: rem(80);
    text-align: left;
    &._centered {
      text-align: center;
      max-width: rem(820);
    }
  }
}

.section-heading._with-cta {
  display: grid;
  grid-gap: rem(16);
  @include bp-960 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// main section
.main {
  background-color: $color__gray;
  &._contentborder {
    border-top: 4px solid $color__purple; //fallback
    border-image: linear-gradient(90deg, $color__purple, $color__purple) 4;
    border-width: 0;
    border-top-width: 4px;
    &._blue {
      border-top: 4px solid $color__purple-dark; //fallback
      border-image: linear-gradient(90deg, $color__purple-dark, $color__purple)
        4;
    }
  }
}

// amplify signup on home
.amplify {
  position: relative;
  @include gradient-black;
  &::after {
    top: 0;
    right: 0;
    background-position: top right;
    @include background-image("amplify-fan-top-right.png");
  }
  &::before {
    bottom: 0;
    left: 0;
    background-position: bottom left;
    @include background-image("amplify-fan-bottom-left.png");
  }
  &::after,
  &::before {
    content: "";
    position: absolute;
    width: rem(140);
    height: rem(134);
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    @include bp-604 {
      width: 13%;
      height: 24%;
    }
    @include bp-768 {
      width: 18%;
      height: 24%;
    }
    @include bp-1024 {
      width: 13%;
      height: 24%;
    }
    @include bp-1440 {
      width: rem(208);
      height: rem(189);
    }
  }
  @include bp-768 {
    border-radius: rem(10);
    overflow: hidden;
  }
  .amplify__container {
    padding: rem(136) rem(30);
    margin: 0 auto;
    @include bp-768 {
      max-width: rem(828);
      padding: rem(120) rem(30);
    }
    @include bp-1024 {
      padding: rem(88) rem(30);
    }
  }
  .amplify__logo {
    max-width: rem(248);
    margin: 0 auto rem(30);
  }
  .amplify__body {
    text-align: center;
  }
  .amplify__form {
    margin: 0 auto;
    max-width: rem(500);
    @include bp-768 {
      padding: 0 rem(30);
    }
    @include bp-1024 {
      max-width: rem(800);
    }
  }
}

// intro, used on most pages
.intro {
  color: $color__white;
  position: relative;
  @include background-image("background-intro.jpg");
  background-size: cover;
  padding: rem(35) 0;
  @include bp-768 {
    min-height: rem(420);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: rem(80) 0;
  }
  &._short {
    @include bp-768 {
      min-height: 0;
      padding-bottom: rem(48);
    }
  }
  &._lightlines-strip {
    padding-top: rem(72);
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: rem(20);
      @include background-image("lightlines-strip.jpg");
      background-size: cover;
    }
  }
  &._lightlines-corner {
    padding-top: rem(60);
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 35%;
      height: 75%;
      // @include background-image("lightlines-7.png");
      background-size: cover;
      mix-blend-mode: lighten;
    }
  }
}
.intro__container {
  color: $color__white !important;
  text-align: center;
}
.intro__label {
  color: $color__white !important;
  @include primary-regular-21-25;
  font-family: 'Open Sans Regular', sans-serif !important;
  text-transform: uppercase;
  margin-bottom: rem(20);
}
.intro__title {
  color: $color__white !important;
  @include primary-black-20-30;
  text-transform: uppercase;
  @include bp-768 {
    @include primary-black-40-50;
  }
}
.intro__body {
  p {
    color: $color__white !important;
    @include primary-medium-20-30;
  }
  @include bp-768 {
    margin: 0 auto;
    max-width: rem(820);
    p {
      @include primary-medium-24-46;
    }
  }
}

.datetime-small {
  color: $color__white;
  @include primary-black-12-12-20;
  text-transform: uppercase;
  display: inline-block;
}

// calendar / tickets
.icon-calendar {
  background-size: rem(15) rem(15);
  background-position: 0 50%;
  @include background-image("icon-calendar.svg");
  background-repeat: no-repeat;
  padding-left: rem(25);
  @include primary-black-12-12-20;
  display: inline-block;
  &.icon-calendar-large {
    @include bp-1024 {
      @include primary-black-16-16-20;
    }
  }
}
.icon-ticket {
  background-size: rem(15) rem(15);
  background-position: 0 50%;
  @include background-image("icon-ticket.svg");
  background-repeat: no-repeat;
  padding-left: rem(25);
  @include primary-black-12-12-20;
  display: inline-block;
  &.icon-ticket-large {
    @include bp-1024 {
      @include primary-black-16-16-20;
    }
  }
}
.icon-location {
  background-size: auto 100%;
  background-position: 0 50%;
  @include background-image("icon-location.svg");
  background-repeat: no-repeat;
  padding: rem(3) 0 rem(3) rem(24);
  @include primary-black-12-12-20;
  display: inline-block;
}
.inline-icon + .inline-icon {
  margin-left: 1rem;
}

// decorative
.decorative {
  &._blur {
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 33%;
      height: 33%;
      @include background-image("decorative-blur.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
    &::before {
      top: 0;
      left: 0;
      transform: rotate(180deg);
    }
    &::after {
      bottom: 0;
      right: 0;
    }
  }
  &._blur-middle {
    &:before,
    &:after {
      width: 50%;
      height: 50%;
    }
    &::after {
      bottom: 20%;
      right: 0;
    }
  }
  &._lightlines-left-side {
    &::before {
      display: none;
    }
    @include bp-768 {
      position: relative;
      &::before {
        display: block;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: rem(64);
        height: rem(400);
        //@include background-image("lightlines-8.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: 0 -50%;
      }
    }
  }
  &._lightlines-bottom-right {
    //@include background-image("lightlines-5.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    padding-bottom: rem(48);
    background-size: 30% auto;
  }
  &._lightlines-footer-corner {
    display: none;
    @include bp-768 {
      display: block;
      height: 0;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: rem(-120);
        left: 0;
        //@include background-image("lightlines-4.png");
        width: rem(240);
        height: rem(230);
        background-size: cover;
      }
    }
    &._pulled {
      &::before {
        left: -6.5rem;
      }
    }
  }
  &._lightlines-top-left-angle {
    position: relative;
    @include bp-1440 {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 14rem;
        height: 40rem;
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
        //@include background-image("lightlines-11.png");
      }
    }
  }
  &._lightlines-strip {
    //@include background-image("lightlines-strip.jpg");
    height: rem(20);
    background-size: cover;
  }
  &._lightlines-footer-strip {
    display: none;
    @include bp-768 {
      display: block;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: rem(-120);
        left: 0;
        right: 0;
        //@include background-image("lightlines-strip.jpg");
        height: rem(20);
        background-size: cover;
      }
    }
  }
}

// resource intro
.resource-intro {
  padding-top: rem(60);
  @include bp-1024 {
    position: relative;
    padding-top: rem(74);
    display: flex;
    justify-content: space-between;
    //grid-template-columns: 1fr rem(398);
    //grid-gap: rem(35);
  }
}

.resource-intro-content {
  padding-bottom: rem(60);
  @include bp-768 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    //   display: grid;
    //   grid-template-columns: 1fr rem(180);
    //   direction: rtl;
    //   grid-gap: rem(35);
  }
}

.resource-intro-image {
  margin-bottom: rem(40);
  @include bp-768 {
    width: 50%;
    margin-right: rem(50);
  }
}
.resource-intro-body {
  margin-bottom: rem(40);
  @include bp-768 {
    direction: ltr;
    margin-bottom: 0;
    flex: 0 1 auto;
    order: 1;
    width: calc(100% - 14.375rem);
  }
  p {
    // Global styles
  }
  ul {
    // Global styles
  }
}
.resource-intro-stats {
  @include bp-1024 {
    margin-top: rem(-120);
    min-width: rem(398);
    margin-left: rem(40);
  }
}

// stats
.stats {
  margin: 0 rem(-32);
  color: $color__white !important;
  background: $color__blue-light;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: rem(30) rem(13);
  padding: rem(50) rem(32);
  @include bp-1024 {
    margin: 0;
    grid-template-columns: 1fr;
    grid-gap: rem(35);
    border-radius: rem(20);
  }
}
.stat {
  position: relative;
  display: block;
  text-align: center;
  @include bp-1024 {
    & + .stat {
      padding-top: rem(35);
      &::before {
        content: "";
        display: block;
        position: absolute;
        width: rem(100);
        border-top: rem(2) solid $color__white;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
      }
    }
  }
}
.stat__link {
  color: $color__white !important;
  transition: color .25s ease-in-out;
  &:hover, &:focus, &:active {
    text-decoration: none;
    color: $color__pink;
  }
}
.stat__label {
  color: $color__white !important;
  display: block;
  @include primary-black-15-15-20;
  margin-bottom: rem(12);
  text-transform: uppercase;
  @include bp-1024 {
    @include primary-black-16-16-20;
  }
}
.stat__number {
  color: $color__white !important;
  @include primary-black-60-60;
  @include bp-1024 {
    @include primary-black-80-80;
  }
}

// Opportunities
.opportunities {
  padding-bottom: rem(55);
  @include bp-768 {
    padding-bottom: rem(100);
  }
  .intro-body-text {
    @include bp-1280 {
      min-height: rem(250);
    }
    h2.h-xl {
      text-transform: uppercase;
    }
  }
  &__ad {
    padding-bottom: rem(20);
  }
}

// Testimonial
.testimonial {
  display: grid;
  grid-gap: rem(40);
  @include bp-768 {
    grid-template-columns: rem(294) 1fr;
    grid-gap: rem(60);
  }
  @include bp-1024 {
    grid-gap: rem(125);
  }
}
.testimonial__media {
  @include bp-768 {
    padding-top: rem(40);
  }
}

.testimonials-wrapper {
  position: relative;
  @include bp-768 {
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -10rem;
      width: 7rem;
      height: 20rem;
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      //@include background-image("lightlines-11.png");
    }
  }
  @include bp-1280 {
    &::before {
      margin-top: -10vw;
      width: 10vw;
      height: 20vw;
    }
  }
}

.new .testimonials {
  margin: rem(20) 0;
  @include bp-768 {
    margin: rem(50) 0;
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // grid-gap: rem(18);
  }
  @include bp-1024 {
    margin: rem(80) 0;
  }

  .slick-track {
    display: flex !important;
  }
}
.new .testimonial {
  display: block;
  padding: rem(40);
  border: 1px solid rgba($colorhex__white, 0.1);

  @include bp-604 {
    margin: 0 rem(9);
    height: inherit;
  }

  blockquote {
    font-family: $font__primary;
    font-style: italic;
    font-size: rem(15);
    line-height: 1.6;
    &:before {
      content: "“";
      color: $color__purple-light;
      font-size: rem(64);
      font-family: $font__primary;
      font-style: normal;
      line-height: 0.3125;
      display: block;
    }
  }
  figcaption {
    text-transform: uppercase;
    font-size: rem(10);
    letter-spacing: 0.2em;
    color: $color__white;
  }
}

// feature
.feature-wrap {
  background: $color__purple-light;
}
.feature {
  position: relative;
  z-index: 100;
  padding: rem(40) rem(30);
  background: $color__purple-light;
  display: grid;
  grid-gap: rem(30);
  @include bp-768 {
    padding: rem(50) rem(60);
    grid-template-columns: 1fr rem(276);
    grid-gap: rem(60);
    &::before {
      content: "";
      position: absolute;
      z-index: 100;
      top: 0;
      bottom: 0;
      right: 0;
      width: 44%;
      //@include background-image("lightlines-6.png");
      background-size: cover;
    }
  }
  @include bp-1024 {
    grid-gap: rem(140);
  }
}
.feature__body {
  color: $color__white !important;
  position: relative;
  z-index: 110;
  h3, h2 {
    color: $color__white !important;
    text-transform: uppercase;
  }
  p {
    color: $color__white !important;
  }
}
.feature__cta {
  position: relative;
  z-index: 110;
}

// amp-signup
.amp-signup {
}
.amp-signup__content {
  padding: rem(80) 0;
  position: relative;
  background-color: $color__purple-lightish;
  @include bp-768 {
    padding: rem(76) rem(82);
    grid-template-columns: 1fr rem(120);
    display: grid;
    grid-gap: rem(40);
  }
  @include bp-1024 {
    grid-template-columns: 1fr 1fr;
    grid-gap: rem(77);
  }
  h1, h2, h3, h4 {
    text-transform: uppercase;
    color: $color__white;
  }
  p {
    color: $color__white;
  }
}

.amp-signup__form {
  margin: rem(40) 0 rem(30);
}

// Stories
.stories {
  display: grid;
  grid-gap: rem(48);
  @include bp-768 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: rem(32) rem(68);
  }
}

.story {
  color: $color__white;
  text-decoration: none;
}
.story__media {
  margin-bottom: rem(20);
}
.story__title {
  color: $color__purple-light;
  @include primary-black-24-24;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: rem(16);
}
.story__body {
  padding: 0 1rem;
  text-align: center;
  p {
    color: $color__black;
    text-align: center;
    @include primary-medium-14-19;
    margin-bottom: 1.5rem;
  }
}

.maintenance-wrapper {
  min-height: 100vh;
}
.maintenance-message {
  min-height: calc(100vh - 470px);
}

// conference
.conference__intro {
  display: grid;
  grid-gap: rem(40);
  @include bp-1024 {
    grid-gap: rem(38);
    display: flex;
  }
}
.conference__intro-text {
  p {
    @include primary-medium-24-46;
    & + p {
      margin-top: rem(30);
    }
  }
}
.conference__intro-partners {
  h2,
  h3,
  h4 {
    @include primary-black-16-16-20;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: rem(30);
    @include bp-604 {
      white-space: nowrap;
    }
  }
}

.conference__logo {
  padding: 0 0 rem(50);
  text-align: center;
  min-width: rem(300);
  img {
    width: auto;
  }
}

.partners-icons {
  list-style-type: none;
  display: grid;
  grid-gap: rem(32);
  max-width: rem(550);
  margin: 0 auto;
  li {
    text-align: center;
  }
  @include bp-768 {
    grid-template-columns: 1fr 1fr;
  }
  @include bp-1024 {
    grid-template-columns: 1fr;
  }
  img {
    display: block;
    max-height: rem(100);
    width: 100%;
    width: auto;
    margin: 0 auto;
    max-width: rem(250);
  }
}

.sponsors-icons {
  list-style-type: none;
  display: grid;
  grid-gap: rem(20);
  @include bp-768 {
    grid-template-columns: 1fr 1fr;
  }
  @include bp-1024 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.sponsor-icon {
  display: block;
  border-radius: rem(4);
  background: $color__white;
  text-align: center;
  padding: 20% 5% 20%;
  img {
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: rem(64);
  }
}
.sponsor-icon-label {
  background-color: $color__purple;
  @include primary-black-10-10-12;
  color: $color__white;
  display: inline-block;
  text-transform: uppercase;
  padding: rem(8) rem(24);
  border-radius: rem(16);
  margin-bottom: rem(24);
}

// conference-sessions
.conference-sessions {
}
.conference-sessions-title {
  @include primary-black-20-30;
  text-transform: uppercase;
  margin-bottom: rem(40);
  @include bp-768 {
    @include primary-black-70-70;
    margin-bottom: rem(76);
  }
}
.conference-sessions-content {
  @include bp-768 {
    display: grid;
    grid-gap: rem(40);
    &.featured_all {
      grid-template-columns: rem(280) auto;
    }
    &.featured_sessions, &.featured_speakers {
      grid-template-columns: auto;
    }
  }
  @include bp-1024 {
    &.featured_all {
      grid-template-columns: rem(360) auto;
    }
    &.featured_sessions, &.featured_speakers {
      grid-template-columns: auto;
    }
  }
}
.conference-sessions-speakers {
  margin: 0 auto rem(42);
  max-width: rem(340);
  @include bp-768 {
    margin: 0;
    .featured_speakers & {
      margin: 0 auto;
      &.slick-slider {
        //margin: 0;
        max-width: rem(500);
      }
    }
  }
  .slick-dots {
    display: none !important;
    margin-top: rem(24);
    display: flex;
    li {
      width: 100%;
      padding: 0 rem(4);
      button {
        border: none;
        border-radius: 0;
        width: 100%;
        display: block;
        height: rem(8);
        background-color: rgba(255, 255, 255, 0.15);
      }
      &.slick-active button {
        background-color: rgba(255, 255, 255, 0.75);
      }
    }
  }
}

.conference-sessions-speaker {
  text-align: center;
}
.conference-sessions-speaker-link {
  text-decoration: none;
  width: 100%;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    .conference-sessions-speaker-name {
      color: $color__pink;
      text-decoration: none;
    }
  }
  .conference-sessions-speaker-name {
    transition: color 0.25s ease-in-out;
    text-decoration: none;
    &:after {
      content: "→";
      display: inline-block;
      font-size: 1em;
      margin: 0 0 0.25rem 1rem;
    }
  }
}
.conference-sessions-speaker-image-wrap {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  margin-bottom: rem(26);
}
.conference-sessions-speaker-image {
  border-radius: 50%;
  display: block;
  position: absolute;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.conference-sessions-speaker-label {
  @include primary-medium-12-12-20;
  text-transform: uppercase;
  margin-bottom: rem(12);
}
.conference-sessions-speaker-name {
  @include primary-black-16-16-20;
  text-transform: uppercase;
  margin-bottom: rem(18);
}
.conference-sessions-speaker-date {
  margin-bottom: rem(40);
}
.conference-sessions-speaker-body {
  padding: 0 rem(16);
}
@keyframes conference-sessions-speaker-progress-animation {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.slick-active .conference-sessions-speaker-progress {
  position: relative;
  margin: rem(54) rem(32) 0;
  height: rem(3);
  background-color: rgba(255, 255, 255, 0.15);
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    animation: conference-sessions-speaker-progress-animation 11s;
  }
}

.conference-sessions-sessions {
  display: grid;
  grid-gap: rem(40);
  align-items: flex-start;
  @include bp-768 {
    background-size: rem(8) auto;
    background-position: 0 0;
    @include background-image("decorative-vert-line-dots.png");
    background-repeat: repeat-y;
    padding-left: rem(67);
    .featured_sessions & {
      grid-template-columns: 1fr 1fr;
      background-position: 50% 0;
    }
  }
  @include bp-1280 {
    position: relative;
    grid-template-columns: 1fr 1fr;
    padding-left: rem(20);
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: rem(8);
      left: 50%;
      margin-left: rem(10);
      background-size: rem(8) auto;
      background-position: 0 0;
      @include background-image("decorative-vert-line-dots.png");
      background-repeat: repeat-y;
    }
    .featured_sessions & {
      grid-template-columns: 1fr 1fr 1fr;
      background-position: 66.666% 20%;
      &::before {
        left: 33.333%;
      }
    }
  }
}
.conference-sessions-session {
  padding-bottom: rem(40);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  p {
    @include primary-medium-22-30;
    margin-bottom: rem(20);
  }
  @include bp-1280 {
    padding-left: rem(40);
    padding-right: rem(40);
  }
  &._link {
    p.conference-sessions-session-title {
      transition: color 0.25s ease-in-out;
    }
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      p.conference-sessions-session-title {
        color: $color__pink;
      }
    }
    p.conference-sessions-session-title {
      &::after {
        content: "→";
        transition: color 0.25s ease-in-out;
        display: inline-block;
        margin: 0 0 rem(4) rem(16);
        font-size: 2em;
        @include bp-768 {
          font-size: 1em;
        }
      }
    }
  }
}
.conference-sessions-session-desc {
  font-size: rem(14);
  line-height: 1.36;
  p {
    font-size: rem(14);
    line-height: 1.36;
  }
}
.conference-sessions-cta {
  margin-top: rem(32);
  text-align: center;
}

// date-banner
.date-banner {
  position: relative;
  z-index: 100;
  @include gradient-purple-blue;
  border-radius: rem(5);
  margin: 0 auto;
  max-width: rem(1027);
  &::before {
    content: "";
    position: absolute;
    z-index: 100;
    top: rem(7);
    bottom: rem(7);
    right: rem(10);
    left: rem(10);
    background: $color__purple-dark;
  }
}
.date-banner-content {
  position: relative;
  z-index: 110;
  padding: rem(40);
  display: grid;
  grid-gap: rem(22);
  @include bp-768 {
    grid-gap: rem(40);
    grid-template-columns: auto 1fr;
  }
}
.date-banner-date {
  text-align: center;
  padding-top: rem(16);
  .date-banner-date-month-year {
    display: block;
    @include primary-black-16-16-20;
    margin-bottom: rem(16);
    text-transform: uppercase;
  }
  .date-banner-date-date {
    display: block;
    @include primary-black-108-108;
  }
}
.date-banner-main {
  p {
    @include primary-medium-24-46;
  }
}
.date-banner-cta {
  margin-top: rem(16);
}

// cta-block
.cta-block {
  background: $color__blue;
}
.cta-block-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  @include bp-768 {
    display: grid;
    grid-template-columns: auto rem(300);
  }
  @include bp-1024 {
    grid-template-columns: auto rem(500);
  }
  @include bp-1440 {
    max-width: rem(1440);
  }
}
.cta-block-main {
  padding: rem(48) rem(32);
  h1,
  h2,
  h3 {
    text-transform: uppercase;
    @include primary-black-25-40;
    margin-bottom: rem(22);
  }
  p {
    @include primary-medium-20-38;
    & + p {
      margin-top: rem(22);
    }
  }
  @include bp-768 {
    h1,
    h2,
    h3 {
      @include primary-black-38-50;
      margin-bottom: rem(22);
    }
    p {
      @include primary-medium-20-38;
      & + p {
        margin-top: rem(22);
      }
    }
  }
  @include bp-1024 {
    padding: rem(80) rem(124) rem(80) calc(50vw - 37rem);
    margin-left: rem(32);
  }
  @include bp-1440 {
    padding: rem(80) rem(124) rem(80) rem(112);
  }
}
.cta-block-cta {
  margin-top: rem(22);
}
.cta-block-media {
  @include bp-768 {
    position: relative;
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// feature text
.feature-text {
  padding: rem(40);
  background: linear-gradient(
      256.59deg,
      rgba(158, 69, 147, 0) 81.26%,
      rgba(158, 69, 147, 0.5) 139.5%
    ),
    linear-gradient(
      243.87deg,
      rgba(12, 165, 234, 0.03) -13.36%,
      rgba(47, 93, 171, 0.06) 31.04%
    );
  border-radius: rem(10);
  @include bp-1024 {
    width: calc( 100% - #{rem(350)});
    &__wrap {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
    &__ad {
      
    }
  }
  p {
    @include primary-regular-17-31;
    @include bp-768 {
      @include primary-medium-24-46;
    }
  }

  h1,
  h2 {
    @extend .h-xl;
    text-transform: uppercase;
  }

  h3,
  h4 {
    @extend .h-sm;
    margin-bottom: rem(16);
  }
  p + h3,
  p + h4 {
    margin-top: rem(20);
  }

  a {
    color: $color__pink;
  }
}

// story steps
.story-steps-wrapper {
  @include gradient-purple-blue;
  padding: rem(48) 0;
  @include bp-1024 {
    padding: rem(60) 0;
  }
}
.story-steps {
  display: grid;
  grid-gap: rem(80);
}
.story-step {
  padding: 0 rem(32);
  display: flex;
  flex-direction: column-reverse;
  .story-step-counter {
    color: $color__white;
    @include primary-black-60-60;
    opacity: 0.2;
    display: block;
    margin-bottom: rem(12);
  }
  h3 {
    @include primary-black-31-44;
  }
  p {
    @include primary-regular-17-31;
  }
  @include bp-604 {
    padding: 0;
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    grid-gap: rem(80);
    &:nth-child(even) {
      direction: rtl;
      * {
        direction: ltr;
      }
    }
  }
  @include bp-768 {
    grid-gap: rem(140);
    align-items: center;
    .story-step-counter {
      @include primary-black-70-70;
    }
    h3 {
      @include primary-black-38-50;
    }
    p {
      @include primary-medium-24-46;
    }
  }
}
.story-step-media {
  img {
    border-radius: 50%;
  }
}

// logo banner
.logo-banner {
  display: grid;
  grid-gap: rem(32);
  p {
    @include primary-regular-17-31;
  }
  .logo-banner-media {
    margin: 0 auto;
    max-width: rem(300);
  }
  @include bp-768 {
    grid-template-columns: rem(310) 1fr;
    grid-gap: rem(50);
    .logo-banner-body {
      p {
        @include primary-medium-24-46;
      }
    }
  }
}

// faq section
.faq-section {
  display: grid;
  grid-gap: rem(40);
  .faq-section-body {
    h3 {
      text-transform: uppercase;
      @include primary-black-31-44;
    }
    p {
      @include primary-regular-17-31;
    }
  }
  .faq-section-faqs {
  }
  @include bp-768 {
    grid-template-columns: 1fr 1fr;
    grid-gap: rem(80);
    .faq-section-body {
      h3 {
        @include primary-black-38-50;
      }
      p {
        @include primary-medium-24-46;
      }
    }
  }
}

.faqs {
  list-style-type: none;
  display: grid;
  grid-gap: rem(16);
}
.faq {
  background: $color__purple;
  border-radius: rem(10);
  padding: rem(16);
  h4 {
    text-transform: uppercase;
    @include primary-bold-18-18;
    button {
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      color: inherit;
      border: none;
      background: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding-right: rem(10);
      cursor: pointer;
      &:focus {
        outline: none;
      }
      &::after {
        content: "";
        position: relative;
        height: 0.75em;
        width: 0.75em;
        border-bottom: 2px solid;
        border-left: 2px solid;
        transform: rotate(-45deg);
        top: -0.25em;
      }
      &[aria-expanded="true"]::after {
        top: 0.25em;
        transform: rotate(135deg);
      }
    }
  }
  .faq-content {
    padding: rem(12) rem(10) 0;
  }
  .button {
    margin-top: rem(16);
  }
}

// ad section
.ad-section {
  @include bp-960 {
    display: grid;
    grid-template-columns: 1fr rem(160);
    grid-gap: rem(150);
  }
}
.ad-section-body {
  p,
  ul {
    @include primary-regular-17-31;
  }
  ul {
    margin-left: 1em;
  }
  @include bp-768 {
    ul {
      column-count: 2;
      column-gap: rem(100);
    }
  }
  @include bp-960 {
    p,
    ul {
      @include primary-medium-24-46;
    }
  }
}
.ad-section-ad {
  display: none;
  @include bp-960 {
    display: block;
  }
}

// schedule-table
.schedule-table-container {
  position: relative;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  @media (min-width: 80em) {
    max-width: 75rem;
  }
}

.schedule-table-intro {
  h1,
  h2,
  h3,
  h4 {
    text-transform: uppercase;
  }
}

.schedule-table {
  table {
    width: 100%;
    color: $color__white;
    border-collapse: collapse;
    border: none;
    caption {
      @include screen-reader-text;
    }
    th {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      padding: 0 rem(18) rem(22);
      & + * {
        border-left: 1px solid rgba(255, 255, 255, 0.1);
      }
    }
    td {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      padding: rem(22);
      text-align: center;
      vertical-align: center;
      & + * {
        border-left: 1px solid rgba(255, 255, 255, 0.1);
      }
    }

    .col-heading {
      @include primary-medium-12-18;
      text-transform: uppercase;
      text-align: left;
      padding: 1rem 0;
    }
    .col-date {
      text-align: center;
      @include primary-black-12-12-20;
      text-transform: uppercase;
      b {
        display: block;
        padding-top: rem(6);
        @include primary-black-20-20;
      }
    }
    .row-heading {
      padding: rem(22) rem(22) rem(22) 0;
      text-align: left;
      vertical-align: center;
      a,
      span {
        @include primary-black-16-16-20;
        color: $color__white;
        text-transform: uppercase;
        text-decoration: none;
        max-width: 20em;
        display: block;
        line-height: 1.5;
        min-height: 2.5em;
      }
      a {
        b {
          white-space: nowrap;
          font-family: inherit;
          font-weight: inherit;
          &::after {
            content: "→";
            transition: all 0.25s ease-in-out;
            display: inline-block;
            margin: 0 0 rem(4) rem(16);
            font-size: 2em;
            @include bp-768 {
              font-size: 1em;
            }
          }
        }
        &:focus,
        &:hover {
          color: $color__pink;
        }
      }
    }
    .row-date {
      span {
        display: block;
        margin: 0 auto;
        width: rem(10);
        height: rem(10);
        overflow: hidden;
        border-radius: 50%;
        background: #c25cb6;
        text-indent: 999%;
      }
    }
  }
}
@media (max-width: 1080px) {
  .schedule-table {
    table {
      .col-date {
        span {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 770px) {
  .schedule-table {
    table {
      .row-heading {
        a {
          @include primary-medium-12-18;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .schedule-table {
    table {
      thead {
        display: none;
      }
      tr,
      td,
      th {
        display: block;
        text-align: left;
        &:empty {
          display: none;
        }
      }
      td {
        border: none;
        padding: rem(12) 0;
      }
      .row-heading {
        padding: rem(22) 0 rem(8) 0;
        a {
          @include primary-black-16-16-20;
          line-height: 1.5;
          min-width: 100%;
          min-height: 0;
        }
      }
      .row-date {
        span {
          display: flex;
          align-items: center;
          margin: 0 auto;
          width: auto;
          height: auto;
          overflow: visible;
          text-indent: 0;
          background: none;

          &::before {
            content: "";
            display: inline-block;
            margin-right: rem(10);
            width: rem(10);
            height: rem(10);
            border-radius: 50%;
            background: #c25cb6;
          }
        }
      }
    }
  }
}

// Attending
.attending {
}
.attending-section {
  background: linear-gradient(
      256.59deg,
      rgba(158, 69, 147, 0) 81.26%,
      #9e4593 139.5%
    ),
    linear-gradient(
      243.87deg,
      rgba(12, 165, 234, 0.3) -13.36%,
      rgba(47, 93, 171, 0.05) 31.04%
    );
}
.attending-subtitle {
  @include primary-black-16-16-20;
  line-height: 1.6;
  text-transform: uppercase;
  margin-bottom: rem(20);
  text-align: center;
}
.attending-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: rem(32);
  @include bp-768 {
    margin-bottom: rem(48);
  }
}
.attending-panel {
  text-align: center;
  overflow: hidden;
}
.attending-panels {
  .slick-dots {
    margin-top: rem(16);
    @include bp-1024 {
      margin-top: rem(32);
    }
    display: flex !important;
    li {
      button {
        border-radius: 0;
        width: rem(32);
        height: rem(3);
        border: none;
        background-color: rgba(255, 255, 255, 0.3);
      }
      &.slick-active {
        button {
          background-color: rgba(255, 255, 255, 1);
          border: none;
        }
      }
    }
  }
}

.attending-item {
  color: $color__white;
  margin: 0 rem(7.5);
  display: block;
  text-align: center;
  padding: rem(12) 0;
  @include bp-604 {
    display: inline-flex;
    align-items: center;
    padding: rem(30) rem(8);
    white-space: nowrap;
  }
  @include bp-768 {
    position: relative;
    &::after,
    &::before {
      content: "";
      position: absolute;
      border: 1px solid $color__purple-slate-dark;
      bottom: 0;
      width: 400%;
    }
    &::after {
      left: 50%;
    }
    &::before {
      right: 50%;
    }
  }
}
.attending-item-name {
  text-transform: uppercase;
  @include primary-black-12-12-20;
  display: inline-flex;
  align-items: center;
  line-height: 1.75;
  @include bp-604 {
    &::after {
      content: "";
      display: block;
      height: rem(6);
      width: rem(6);
      background: #9e4593;
      border-radius: 50%;
      margin-left: rem(30);
    }
  }
  @include bp-768 {
    @include primary-black-16-16-20;
  }
}
.attending-item-title {
  @include primary-medium-12-12-20;
  display: inline-flex;
  align-items: center;
  padding: 0 0 0 rem(15);
  text-transform: uppercase;
}

.attending-list-wrapper {
  @include gradient-purple-blue;
  padding: rem(48) 0;
  @include bp-1024 {
    padding: rem(60) 0;
  }
}

.attending-list {
  list-style-type: none;
  li {
    padding: rem(14) 0 rem(14) rem(38);
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: rem(24);
      left: 0;
      display: block;
      height: rem(6);
      width: rem(6);
      background: #9e4593;
      border-radius: 50%;
      margin-left: rem(16);
    }
  }
  @include bp-768 {
    column-count: 2;
    column-gap: rem(100);
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: calc(50% - 1px);
      border-left: 1px solid rgba(255, 255, 255, 0.1);
    }
  }
}
.attending-list-item-name {
  text-transform: uppercase;
  @include primary-black-12-12-20;
  display: inline-flex;
  align-items: center;
  line-height: 1.75;
  @include bp-604 {
    @include primary-black-16-16-20;
    line-height: 1.5;
  }
}
.attending-list-item-title {
  @include primary-medium-12-12-20;
  align-items: center;
  text-transform: uppercase;
  display: block;
  padding: rem(8) 0 0 0;
  @include bp-1280 {
    display: inline-flex;
    padding: 0 0 0 rem(15);
  }
}

.attending-more {
  margin: rem(70) 0;
  text-align: center;
}

// Logo Group
.logo-group {
  text-align: center;
  margin: -2% -2%;
  @include bp-768 {
    margin: -1% -2%;
  }
  img {
    display: inline-block;
    width: auto;
    max-height: 2.75rem;
    margin: 4%;
    @include bp-604 {
      max-height: 2.5rem;
      margin: 3% 3%;
    }
    @include bp-768 {
      max-height: 2.5rem;
      margin: 2% 2.5%;
    }
    @include bp-1280 {
      max-height: 2.75rem;
    }
  }
  &._small {
    @include bp-768 {
      margin: 0 -2%;
    }
    @include bp-1280 {
      margin: -1.5% -2.5% 2%;
    }
    img {
      display: inline-block;
      width: auto;
      max-height: rem(60);
      margin: 4%;
      @include bp-604 {
        margin: 3% 3%;
      }
      @include bp-768 {
        margin: 2% 2% 0%;
      }
    }
  }
}

.showinfo {
  background-image: linear-gradient(
    360deg,
    $color__purple -65%,
    rgba($colorhex__purple-lightish, 0) 175%
  );
  font-size: rem(12);
  font-style: normal;
  font-weight: 600;
  line-height: 1.42;
  letter-spacing: 0.2em;
  text-align: center;
  color: $color__white;
  padding: rem(12) 0;
  &__when,
  &__where {
    background-size: rem(15) rem(15);
    background-repeat: no-repeat;
    white-space: nowrap;
    background-position: 0 50%;
    padding: 0 0 0 rem(32);
    margin: 0 rem(20);
  }
  &__when {
    @include background-image("icon-calendar.svg");
  }
  &__where {
    @include background-image("icon-map-pin.svg");
  }
}

.safety {
  padding: rem(40) 0;
  @include bp-768 {
    padding: rem(60) 0 rem(50);
    //@include background-image("lightlines-10.png");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: rem(100) rem(490);
  }
  @include bp-1024 {
    padding: rem(80) 0 rem(70);
    background-size: rem(127) rem(549);
  }
  &__title {
    text-align: center;
    text-transform: uppercase;
  }
  &__icons {
    margin-top: rem(24);
    margin-bottom: rem(24);
    @include bp-768 {
      display: flex;
      justify-content: space-between;
    }
    img {
      display: block;
      max-width: rem(230);
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__copy {
    max-width: rem(1012);
    margin-left: auto;
    margin-right: auto;
    p {
      font-size: rem(18);
      font-style: italic;
      line-height: 1.42;
      letter-spacing: 0;
      text-align: center;
      @include bp-768 {
        font-size: rem(24);
      }
      a {
        color: $color__purple-lighter;
        &:hover,
        &:focus {
          color: $color__purple-lighter;
        }
      }
    }
  }

  &__stats {
    border-top: 1px solid rgba($colorhex__white, 0.15);
    padding: rem(40) 0;
    margin: rem(40) 0 0;
    list-style: none;
    @include bp-1024 {
      margin: rem(70) 0 0;
      padding: rem(70) 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
  }
  &__stat {
    display: block;
    text-align: center;
    margin-bottom: rem(40);
    max-width: rem(280);
    margin-left: auto;
    margin-right: auto;
  }
  &__statTitle {
    max-width: rem(225);
    margin-left: auto;
    margin-right: auto;
    font-size: rem(24);
    font-style: normal;
    font-weight: bold;
    line-height: 1.42;
    letter-spacing: 0.01em;
    text-align: center;
    text-transform: uppercase;
    color: $color__purple-light;
  }
  &__statNumber {
    font-size: rem(144);
    font-weight: 400;
    line-height: 1;
    text-indent: 1rem;
  }
  &__statPercent {
    font-size: rem(28);
  }
  &__statFollow {
    font-size: rem(14);
    font-style: normal;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: 0.16em;
    text-align: center;
    text-transform: uppercase;
  }

  &__fineprint {
    font-size: rem(15);
    font-style: italic;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0em;
    text-align: left;
    color: $color__purple-light;
  }
}

// Exhibiting
.exhibiting-section {
  //
  @include background-image("exhibiting-background.jpg");
  background-size: cover;
}
.exhibiting-subtitle {
  @include primary-black-16-16-20;
  line-height: 1.6;
  text-transform: uppercase;
  margin-bottom: rem(20);
  text-align: center;
}
.exhibiting-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: rem(32);
  @include bp-768 {
    margin-bottom: rem(48);
    font-size: 2.5rem;
  }
}


.news-releases-main-ad {
  width: 100%; 
  margin-bottom: rem(40);
}

.news_bottom_ad {
  display: none;
}

.closing__copy {
  margin: 0 rem(8);
  @include bp-604 {
    margin: 0 rem(28);
  }
  @include bp-1024 {
    margin: 0 rem(36);
  }
  @include bp-1280 {
    margin: 0 rem(48);
  }
  @include bp-1440 {
    margin: 0 rem(60);
  }
}

.closing__button {
  margin: 0 auto rem(20);
  @include bp-768 {
    margin: 0 auto rem(40);
  }
}

.closing__content {
  text-align: center;
  max-width: rem(1100);
  margin: 0 auto;
  padding: 0 rem(20);
}