.featurette {
	padding: rem(50) 0;
	background-color: $color__purple-dark;
	background-image: url('#{$theme_path}/assets/images/home_featurette_bg.png');
	background-repeat: no-repeat;
	background-blend-mode: screen;
	background-position: 30% 160%;
	@include bp-768 {
		background-position: 60% 20%;
	}
	@include bp-1024 {
		padding: rem(100) 0 rem(130);
		background-position: 0% 70%;
	}
	&__title {
		font-family: $font__primary;
		font-weight: 900;
		font-size: rem(28);
		line-height: 1.2;
		text-transform: uppercase;
		@include bp-768 {
			font-size: rem(38);
		}
		@include bp-1024 {
			font-size: rem(50);
		}
	}
	&__copy {
		font-family: $font__primary;
		font-weight: 400;
		font-style: italic;
		font-size: rem(15);
		line-height: 1.6;
		margin-bottom: rem(67);
	}

	&__list {
		list-style: none;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: rem(20);
		@include bp-768 {
			grid-template-columns: 1fr 1fr;
		}
		@include bp-1024 {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
		&__item {

		}
			&__link {
				display: grid;
				grid-template-columns: 100%;
				grid-template-rows: rem(190) rem(235);
				grid-gap: 0;
				&:hover, &:focus, &:active {
					text-decoration: none;
				}
			}

				// &__imgwrap {
				// 	wid
				// }
				&__img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center center;
				}
				&__itemcontent {
					text-align: center;
					padding: rem(30);
					background: linear-gradient(180deg, rgba($c__white, 0) 0%, rgba($c__black, 0.2) 100%), rgba($c__purple, 0.5);
					display: flex;
					flex-flow: column nowrap;
					justify-content: space-between;
					border-radius: 0 0 rem(8) rem(8);
				}
					&__itemtitle {
						font-size: rem(30);
						line-height: 1.17;
						margin-bottom: 0;
					}
					&__itemcopy {
						color: $color__white;
						font-family: $font__primary;
						font-weight: 500;
						font-size: rem(15);
						line-height: 1.2;
					}
					&__linktext {
						color: $color__purple-light;
						font-family: $font__primary;
						font-weight: 600;
						font-size: rem(14);
						line-height: 1.43;
						letter-spacing: 0.2em;
						text-transform: uppercase;
						transition: color .25s ease-in-out;
						.featurette__link:hover &, .featurette__link:focus &, .featurette__link:active & {
							color: $color__purple-lighter;
						}
					}
}