.page-template-page-home-2022 .showinfo {
	background-image: none;
	font-size: rem(16);
	padding: rem(100) 0;
	@include bp-1024 {
		padding: rem(142) 0;
	}
	@include bp-1280 {
		padding: rem(184) 0;
	}
	@include bp-1440 {
		padding: rem(224) 0;
	}


	&__when {
		background-image: none;
	}
	&__logo {
		max-width: rem(390);
		height: auto;
		display: block;
		margin: rem(70) auto rem(36);
	}
}