// ADS
broadstreet-zone-container {
  div {
    text-align: center;
  }
  broadstreet-zone div > span {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
    &:before {
      content: "Advertisement";
      display: block;
      font-family: $font__secondary;
      font-size: rem(12);
      color: $color__gray-medium-light;
      text-align: center;
      line-height: 1;
      padding-bottom: rem(4);
    }
  }
  &._hidden {
    display: none;
  }
  .ad._footer & {
    padding-top: 0;
    padding-bottom: 0;
    broadstreet-zone div {
      height: 0;
      & > span {
        &:before {
          display: none;
        }
      }
    }
  }
}

  

.ad {
  &._banner {
    margin: rem(60) auto;
    @include bp-768 {
      margin: rem(120) auto;
      max-width: rem(818);
    }
  }

  &._home {
    broadstreet-zone-container div span {
      display: inline-block;
      @include bp-768 {
        margin-top: rem(40);
      }
    }
  }

  &._top {
    broadstreet-zone-container div span {
      display: inline-block;
      margin: rem(20) 0;
    }
    .schedule + & {
      margin: rem(40) 0 0;
      @include bp-768 {
        margin: rem(100) 0 0;
      }
    }
  }
  &._tall {
    broadstreet-zone-container div span {
      display: inline-block;
      margin: 0 0 rem(20) 0;
    }
    @include bp-768 {
      float: right;
      margin-left: rem(32);
    }
  }
  &._bottom {
    broadstreet-zone-container div span {
      display: inline-block;
      margin-top: rem(30);
      @include bp-768 {
        margin-top: rem(50);
      }
      @include bp-1024 {
        margin-top: rem(60);
      }
      @include bp-1280 {
        margin-top: rem(80);
      }
      @include bp-1440 {
        margin-top: rem(100);
      }
    }
  }
}
.opportunities__ad {
  broadstreet-zone-container div span {
    display: inline-block;
    margin-bottom: rem(20);
  }
  @include bp-1280 {
    position: absolute;
    top: rem(-20);
    right: rem(32);
  }
}
