.search {
  &__form {
    position: relative;
    display: flex;
  }
  &__field {
    height: rem(50);
    border-radius: rem(25) !important; // overrides input[type=search]
    padding: 0 rem(62) 0 rem(24) !important; // overrides input[type=search];
    font-family: $font__primary;
    font-size: rem(16);
    color: $color__white;
    transition: all 0.3s;
    background-color: $color__purple-dark;
    border-color: $color__purple;
    @include bp-768 {
      border: 1px solid transparent;
      background-color: transparent;
    }
    &:focus,
    &:hover,
    &:valid {
      background-color: $color__purple-dark;
      border-color: $color__purple;
      outline: none;
    }
    &::placeholder {
      color: $color__gray;
      text-align: right;
    }
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      -webkit-appearance: none;
    }
  }
  &__submit {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: rem(64);
  }
  &__term {
    color: $color__purple;
  }
  &__sort {
    list-style: none;
    padding: 0;
    margin: 2rem 0 0;
    display: flex;
    justify-content: center;
    li {
      width: rem(200);
    }
  }
  &__sortOption,
  .sort-order {
    display: block;
    width: rem(200);
    height: rem(40);
    line-height: rem(34);
    text-align: center;
    text-decoration: none;
    color: $color__white;
    font-size: rem(16);
    font-weight: bold;
    border: 3px solid $color__purple; //fallback
    border-image: linear-gradient(90deg, $color__purple, $color__purple) 3;
    &._selected,
    &.active {
      background: linear-gradient(90deg, $color__purple, $color__purple);
    }
  }
}

//misc classes from multidots
.nab-search-result-wrapper {
  display: flex;
  flex-flow: column nowrap;
  .search-result-filter {
    order: 1;
  }
  .search-view-top-head {
    order: 0;
  }
  .search-section {
    order: 2;
  }
  .load-more {
    order: 3;
  }
}
.search-section-heading {
  h2 {
    display: inline-block;
    @include bp-1024 {
      font-size: rem(44);
    }
    strong {
      font-family: $font__primary;
      font-weight: 600;
    }
    span {
      font-weight: 400;
      font-size: rem(30);
      vertical-align: top;
      color: $color__gray;
    }
  }
  .section-view-more {
    display: inline-block;
    padding-left: rem(20);
    position: relative;
    top: rem(-9);
  }
}

.other-search-filter {
  width: 100%;
  .sort-order-btn {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .inline-filter-select-boxes {
    margin-top: rem(20);
    @include bp-768 {
      margin-top: 0;
      margin-left: rem(20);
    }
  }
  .filter-select-boxes {
    @include bp-768 {
      max-width: rem(700);
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: space-between;
      &._multirows {
        flex-flow: row wrap;
      }
    }
    .nab-custom-select {
      margin-top: rem(20);
      @include bp-768 {
        padding: 0 rem(10);
        width: 100%;
      }
    }
    .filter_box_row {
      margin-top: rem(20);
      @include bp-768 {
        flex: 0 1 100%;
        display: flex;
        justify-content: space-between;
        & > div {
          padding: 0 rem(10);
          width: 100%;
        }
      }

      input[type="text"] {
        background-color: $color__gray;
        color: $color__white;
        line-height: rem(38);
        border-radius: rem(19);
        margin-top: rem(20);
        font-size: rem(18);
        padding-left: rem(20);
        padding-right: rem(20);
        &::placeholder {
          color: $color__gray;
        }
        @include bp-768 {
          width: 100%;
        }
      }
    }
  }
}

.view-back-to-search {
  margin-top: rem(20);
  text-align: center;
  a {
    @extend .link, ._back;
    color: $color__purple;
    font-weight: 600;
  }
}

.search-view-top-head {
  text-align: center;
  h2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: rem(26);
    line-height: rem(26);
    @include bp-1280 {
      font-size: rem(42);
      line-height: rem(42);
    }
    strong {
      font-weight: 600;
      color: $color__purple;
    }
  }
  .view-top-other-info {
    display: none;
  }
}

.search-section {
  .nab-ad-wrap {
    padding: rem(40) 0;
  }
}

.result {
  position: relative;
  display: block;
  border-top: 3px solid $color__purple;
  border-image: linear-gradient(90deg, $color__purple, $color__purple) 3;
  border-width: 0;
  border-top-width: 3px;
  background-color: $color__gray;
  padding: rem(18) rem(18) rem(46);
  height: 100%;
  text-align: center;
  text-decoration: none;
  &._content {
    padding: 0 0 rem(36);
    a {
      text-decoration: none;
    }
  }
  .amp-bookmark {
    position: absolute;
    top: rem(10);
    left: rem(10);
    color: $color__purple;
  }
  &__hide {
    //hide items in search results due to old styling
    display: none;
  }

  &__imgLink {
    ._content & {
      position: relative;
      display: block;
      height: rem(140);
      overflow: hidden;
      background-color: $color__white;
      .result__image {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        color: $color__black;
      }
    }
  }
  &__image,
  &__imageWrap img {
    border-radius: 50%;
    max-width: rem(102);
    ._content & {
      border-radius: 0;
      max-width: 100%;
    }
  }
  &__title {
    font-weight: 700;
    font-size: rem(22);
    line-height: rem(27);
    min-height: rem(54);
    color: $color__white;
    a,
    a & {
      text-decoration: none;
      color: $color__white;
      transition: color 0.25s ease-in-out;
      &:hover,
      &:focus,
      &:active {
        color: $color__purple;
      }
    }
    ._content & {
      padding: rem(24) rem(18) 0;
      margin-bottom: 0;
      overflow: hidden;
      max-height: rem(105);
    }
    // ._content:hover &, ._content:focus &, ._content:active & {
    // 	color: $color__purple;
    // }
  }
  &__button {
    margin-bottom: rem(27);
    ._content & {
      margin-top: rem(20);
    }
  }
  &__message {
    display: block;
    font-size: rem(18);
    font-weight: 600;
  }
}
