
.l-wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 100vh;
}
.l-header {
    background-color: #000000;
}
.l-header {
    min-height: auto !important;
}
header, nav {
    display: block;
}
header, nav {
    box-sizing: border-box;
}
.center {
    margin-right: auto;
    margin-left: auto;
}
.mw9 {
    max-width: 100rem;
}
.tc {
    text-align: center;
}
.db {
    display: block;
}
.o-show_header {
    max-width: 100%;
    height: auto;
}




.l-nav {
	background-color:#000000;
	background-image:none
}

.show-date,.show-location {
	color:white;
	font-size:13px;
	max-width:none
}

// Tweakpoint - hide show dates and location (760px) when they are too close to hamburger nav
@media screen and (max-width: 47.500em) {

    .l-nav_show_info {
        display: none;
    }

.l-header {
	background-color:#0068BA
}

.js-navlinks_desktop .l-nav_link a,.js-navlinks_desktop .l-nav_link span,.js-navlinks_desktop .l-nav_link a:hover,.js-navlinks_desktop .l-nav_link span:hover {
	color:white;
	font-size:.875rem;
	text-shadow:none;
	text-transform:uppercase
}

.search-main {
	background-color:#93d6f5;
	background-position:center;
	background-size:cover;
	border-bottom:1px solid #efefef
}

.l-nav_show_info.ttu {
	text-transform:none
}
.accent {
	color:#e5242e;
	fill:#e5242e
}

.js-navlinks_desktop .l-nav_link span:before {
	background-color: #0cacd0 !important;
}