<IfModule mod_rewrite.c>
RewriteEngine on

RewriteCond $1 !^(wp-personal-data-exports|export-path-from-urls.csv||export-path-from-urls.zip|favicon.ico)
RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
<FilesMatch "\.(csv)$">
ForceType application/octet-stream csv
Header set Content-Disposition attachment
</FilesMatch>
